<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
    <script>

    $(document).ready(function(){

      $('form').on('submit',function(){

        var item = $('form input').val().split(/[;,./+\n\s\t:]/);
        console.log(item);
        var value = {'env_brightness': item[0],'led_brightness': item[1]};

        $.ajax({
          type: 'POST',
          url: '/data',
          data: value,
          success: function(data){
            // do something with the data
            console.log("[POST] Request Successful");
            location.reload();
          },
          error: function (error){
            console.log("[POST] Request Failed");
          }
        });

        return false;


      });

      // $('li').on('click', function(){
      //   var item = $(this).text().replace(/ /g, "-");
      //   $.ajax({
      //     type: 'DELETE',
      //     url: '/todo/'
      //   })
      // })


    });

    </script>
  </head>
  <body>
    <h1>This is a heading</h1>
    <div id="light-table">
      <form>
        <input type="text" name="item" placeholder="Type something here..." required />
        <button type="submit">Add value</button>
      </form>
      <ul>
        <% for(var i=0; i < mydata.length; i++){ %>
          <li>Env:  <%= mydata[i].env_brightness %> Led: <%= mydata[i].led_brightness %> </li>
        <% } %>


      </ul>
    <div id='light-graph'>

    </div>
    <script>

    var mydata_clt = [];
    <% for (var i = 0; i < mydata.length; i++) { %>
      var temp = { "env_brightness": <%= mydata[i].env_brightness %>, "led_brightness":<%= mydata[i].led_brightness %>};
      mydata_clt.push(temp)

    <% } %>

    var sketch = function(p) {
      p.frameRate(30);
      var width = 500;
      var height = 500;
      p.setup = function(){
        p.createCanvas(500,500);
        p.background(0);
      };
      p.draw = function() {
        for (var i = 0; i < mydata_clt.length; i++) {
          var x = p.map(mydata_clt[i].env_brightness,0,100,0,width);
          var y = p.map(mydata_clt[i].led_brightness,0,100,height,0);
          p.fill(255);
          p.stroke(255);
          p.ellipse(x,y,8,8);
        };
      };
      p.mousePressed = function(){
        // tag the closest point
      };
      p.mouseReleased = function() {
        if (p.mouseX > width || p.mouseY > height || p.mouseX < 0 || p.mouseY < 0){
          return;
        }
        var x = p.map(p.mouseX,0,width,0,100);
        var y = p.map(p.mouseY,0,height,100,0);
        var mypoint = {
          "env_brightness": x,
          "led_brightness": y
        };

        $.ajax({
          type: 'POST',
          url: '/data',
          data: mypoint,
          success: function(mypoint){
            // do something with the data
            console.log("[POST] Request Successful");
            location.reload();
          },
          error: function (error){
            console.log("[POST] Request Failed");
          }
        });
      };
    };

    var mygraph = new p5(sketch, 'light-graph');

    // mygraph.sketch.p.draw = function() {
    //   this.p.fill(255);
    //   this.p.stroke(255);
    //   this.p.ellipse(100,100,10,10);
    // };


    // var data = [{'env_brightness':100,'led_brightness':80},{'env_brightness':75,'led_brightness':60},{'env_brightness':50,'led_brightness':40},{'env_brightness':25,'led_brightness':20}];
    //





    </script>

  </body>
</html>
